@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
p, blockquote{
    font-size: .9em ;
    line-height: 1.6em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    padding: .8em 1.2em;
}
.logo{
    width: 130px;
    margin-bottom: 10%;
}
.hide-mobile{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
}

.menu{
    width: 25px;
    margin-top: 45%;
}
.server{
width: 70%;
margin: 1em auto 1em 25%;
}
h1, .subhead{
    position: re;ative;
    z-index: 3;
}
.subhead{
    font-size: 1.1em;
}
.yellow-cointainer{
    width: 100%;
    background: #FFCC00 ;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-4deg);
}
.yellow-cointainer ul{
    transform: skewY(4deg);   
}
.yellow-cointainer::after{
    content: "";
    width: 80px;
    height: 80px;
    ;
}
    